<!DOCTYPE html>
<html>

<head>
  <title>404 - Página não encontrada</title>
  <style>
    html, body {
    background-color: #000000;
}
    table {
      border-collapse: collapse;
      border: 5px solid white;
      background: #D4284B;
      width: 800px;
      height: 300px;
    }
    .estilo404{
      color: white;
      border-bottom-color: #000000;
      font-size: 150px;
      font-family: Arial, Helvetica, sans-serif;
    }
    .estiloMensagem{
      color: white;
      font-size: 16px;
      font-family: Arial, Helvetica, sans-serif;
    }
  </style>
</head>

<body>
  <br /><br /><br /><br /><br /><br />
  <table cellspacing="0" cellpadding="0" align="center">
    <tr align="center">
      <td class="estilo404">404</td>
    </trtr>
    <tr align="center">
      <td class="estiloMensagem">
        <h1>Página não encontrada!</h1>
      </td>
    </tr>
  </table>
</body>

</html>